<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

<appSettings>
  <add key="HMACKey" value="EUiBLmnJkWXPMx6+urpcbJqr454J3JFUhTjyLm0bO8g="/>

  <!--Level 3 Security secret vals-->
  <add key="DesKey" value="XHz2iYbtbB8="/>
  <add key="DesIv" value="eYDTg+k1+MI="/>

  <!--Level 4 Security secret vals-->
  <add key="TripleDesKey" value="5PdvPKAWztTRK2JHQF5s0zbRLIGCWEj7"/>
  <add key="TripleDesIv" value="W8KYUKpXwxw="/>  
  
</appSettings>  
</configuration>
